@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body {
    margin: 0;
    //overflow: hidden;
    background: linear-gradient(#000 0%, #fff 30%, #000 100%);
    background-image: linear-gradient(#1A8FCF,#D1236A,#1A8FCF);
}

#load_screen {
  background: #000;
  opacity: 1;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100vh;
}

#loading {
  color: #fff;
  width: 120px;
  height: 24px;
  margin: 300px auto;
}

#WebGL-output {
  position: fixed;
  z-index: -1;
  top: 0;
}

.comingsoon {
    top: 50%;
    transform: translate(0%,-50%);
    left: 5em;
    position: absolute;
    max-width: 50rem;
    padding: 1em;
    @media (max-width: 800px) {
      left: 0em;
    }
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ede7f6;
    font-size: 8em;
    margin: 0;
    animation: RGBshift 1s infinite alternate;
    animation-delay: 4s;
    text-transform: uppercase;
    line-height: 1.3;
    @media (max-width: 800px) {
      font-size: 5em;
    }
    @media (max-width: 500px) {
      font-size: 2em;
    }
    position: relative;
    bottom: -150px; 
    animation: fadeIn 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-animation-fill-mode: forwards;

    animation-delay: 0.5s;
}

.h1__wrap {
  //overflow: hidden;
  h1 {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.17), 0 0 10px rgba(255, 255, 255, 0.14), 0 0 15px rgb(255, 255, 255), 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@keyframes fadeIn {
  0%   { bottom: -150px; }
  100% { bottom: 0px; }
}
.p__wrap {
  overflow: hidden;
}
p {
    font-size: 1em;
    color: rgba(232, 234, 246, 0.69);
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    max-width: 40em;
    margin-bottom: 1em;
    text-transform: uppercase;
    position: relative;
    bottom: -150px; 
    animation: fadeIn 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-animation-fill-mode: forwards;

    animation-delay: 0.6s;
}
a {
  color: #fff;
}

 